@use '//src/scss/variables.scss' as v;

.container {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: map-get($map: v.$colors, $key: lightPrimary);
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  cursor: pointer;

  .leftContainer {
    display: flex;
    width: 80%;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5rem;
    padding-left: 1rem;
  }

  .rightContainer {
    display: flex;
    width: 20%;
    padding-right: 1.5rem;
    justify-content: flex-end;
    align-items: center;
  }
}
