.menuOptionContainer {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  cursor: pointer;


  .menuIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
  }

  .menuTextContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.375rem;
  }

  @media (max-width: 1428px) {
    .menuIconContainer {}

    .menuTextContainer {

      justify-content: center;
    }
  }
}