@use '//src/scss/variables.scss'as v;

.fontSmall {
  font-size: 0.6rem;
}

.noSelected {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.menu {
  background: linear-gradient(200deg, #111322 0%, #21263c 49.52%, #1E2337 100%);
  border-top-left-radius: 2.5rem;
  border-bottom-left-radius: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  min-height: 20rem;
  color: map-get($map: v.$colors, $key: primary);
}

.bodyContent {
  padding: 1rem 1.5rem;
  background-color: map-get($map: v.$colors, $key: primary);
  min-height: 20rem;
}

.domainName {
  font-size: 1.5rem;
  letter-spacing: 1px;
  width: 100%;
}

.tabs {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.iconFav {
  margin: 0 0.5rem;
  cursor: pointer;
}

.bodyDetail {
  display: grid;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  width: 100%;
  grid-template-columns: 70% 30%;
}

.isButton {
  padding: 1.5rem;
  min-width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  @extend .noSelected;
  color: map-get($map: v.$colors, $key: primary);
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.isButtonActive {
  background-color: map-get($map: v.$colors, $key: black);
  color: map-get($map: v.$colors, $key: primary);
}

.isButtonInactive {
  background-color: map-get($map: v.$colors, $key: lightPrimary);
  color: map-get($map: v.$colors, $key: black);
}

.borderLeft {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.borderRight {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.switchModule {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .bodyContent {
    width: 100%;
  }

  .domainName {
    font-size: 1.2rem;

    svg {
      width: 50px;
    }
  }

  .aboutContent {
    width: 90%;
    gap: 1rem;
    grid-template-columns: repeat(1, minmax(10rem, 1fr));
  }
}

@media (max-width: 576px) {

  .bodyDetail {
    grid-template-columns: 1fr;
    padding: 1rem 1.3rem 1rem 1.2rem;
    margin-bottom: 0;
  }

  .tabs {
    justify-content: flex-start;
    margin-bottom: 0.5rem;
  }

  .domainName {
    margin-bottom: 8px;

    svg {
      width: 50px;
    }
  }

  .aboutContent {
    width: 90%;
    gap: 1rem;
    grid-template-columns: repeat(1, minmax(10rem, 1fr));
  }

  .isButton {
    min-width: 33%;
  }
}