@use '//src/scss/variables.scss'as v;

.domainName {
  width: 100%;
}

.copySuccess {
  top: -1.5rem;
  right: -2rem;
  position: absolute;
  font-size: 1.2rem;
  color: green;
}



.buttonCopy {
  cursor: pointer;
  margin-left: 1rem;
}


@media (max-width: 768px) {
  .domainName {
    font-size: 1.2rem;

    & svg {
      width: 25px;
      height: 30px;
    }
  }
}

@media (max-width: 576px) {
  .domainName {
    margin: 0.5rem 0;
    grid-row: 2;

    & svg {
      width: 25px;
      height: 30px;
    }
  }
}