@use "../../scss/variables.scss"as colors;

.main {
  background: url(../../assets/images/background.jpg) 0 0 / cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: 1fr;
  min-height: 100vh;
  height: auto;

  &__footer {
    background: map-get($map: colors.$colors, $key: "primary");
    padding: 1rem 0;
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
  }
}

.socials {
  background: #fff;
  padding: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__logo {
    margin-right: 4rem;
  }

  &__network {
    display: flex;

    & div {
      margin: 0 1rem;
      font-size: 1.3rem;
      font-weight: 700;

      & a {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}

.mainContainer {
  height: 100%;
  position: relative;
  margin-bottom: 4rem;
}

.content {
  width: 80%;
  margin: 0 auto;
  margin-top: 10.875rem;
  min-height: 31.25rem;
  padding-bottom: 1rem;
}

@media (max-width: 900px) {
  .content {
    width: 100%;
  }
}