@use "../../scss/variables.scss" as colors;

body,
html,
.main {
  min-height: 100vh;
  background-color: map-get(colors.$colors, white);
}

.mainContainer {
  background: url(../../assets/svg/background.svg) 0 0 / cover;
  height: 800px;
  position: relative;
}

.content {
  width: 80%;
  margin: 0 auto;
  margin-top: 10.875rem;
  min-height: 31.25rem;
  padding-bottom: 1rem;
}

@media (max-width: 900px) {
  .content {
    width: 100%;
  }
}
