@use '//src/scss/variables.scss'as v;

.fontSmall {
  font-size: 0.6rem;
}

.noSelected {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.button {
  min-width: 12rem;
  height: 2.3rem;
  display: flex;
  justify-content: space-around;
  padding: 1.5rem 1.5rem;
  align-items: center;
  border-radius: 1rem;
  background-color: map-get($map: v.$colors, $key: black);
  color: map-get($map: v.$colors, $key: primary);
  cursor: pointer;
  @extend .noSelected;
  transition: all .2s ease-in-out;
}

.buttonDisabled {
  background-color: map-get($map: v.$colors, $key: disabledGray);
  color: map-get($map: v.$colors, $key: white);
  cursor: pointer;
  border-color: map-get($map: v.$colors, $key: disabledGray);
}

.activeMe {
  border: 2px solid #fff;
  padding: 2rem;
  width: auto;
  height: 5rem;
  font-weight: 600;
  font-size: 1.2rem;

  & span {
    text-align: center;
    text-transform: uppercase;
  }
}