@use '//src/scss/variables.scss'as v;

.main {
  min-height: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 15rem auto 10rem;
}

.content {
  display: flex;
  margin: 2rem auto 2rem auto;
  width: 95%;
  justify-content: center;
}

@media (max-width: 768px) {
  .content {
    width: 100%;
    padding: 0 1rem;
  }
}